footer {
	text-align: center;
	margin: 0.5em;
}
section {
	border: solid 4px #3C3;
	padding: 1em;
}
h3 {
	font-weight: bold;
	text-align: center;
}
table {
	width: 100%;
	margin-bottom: 1em;
}
caption, th, td { border: solid 2px var(--button-bg); }
img, a { display: block; }
a {
	text-decoration: underline;
	cursor: pointer;
}
button { cursor: pointer; }
p.info { border-style: none; }
xmp {
	border: solid 4px #3C3;
	background: none;
	padding: 1em;
	margin: 0;
}
section.list3 {
	column-count: 3;
	break-inside: column;
}
section.list2 {
	column-count: 2;
	break-inside: column;
}
section.bord p, math { border: solid 4px var(--button-bg); }
h2 { column-span: all; }
div.column p { height: 3em; }
:focus { border-style: dotted; }
