library-js-ext/
library-php/
module*/
portfolio/
divers/
perso/
*cv.*
*.html
*.ico
*.jpg
*.json
*.log
*.pdf
*.zip
*-va.*
* va.*
*vb.*
*vc.*
*copie*
library-*/*.txt
library-js/config.js
library-css/svg.css
