<!DOCTYPE html>
<html>
<head>
	<title>formulaire de modification d'événement</title>
	<meta name='viewport' content='width=device-width,initial-scale=1'/>
	<meta charset='utf-8'/>
	<link rel='stylesheet' href='front/css/basic-print.css'/>
	<link rel='stylesheet' href='front/css/basic-screen.css'/>
	<link rel='stylesheet' href='front/css/site.css'/>
	<script src='front/library/angular.js'></script>
</head>
<body ng-app='events' ng-controller='controllerUpdateEvt'>
	<div class='row'>
		<a class='button' href='index.html'>Revenir à la page d'acceuil</a>
		<a class='button' href='createEvt.html'>Créer un événement</a>
	</div>
	<h1>{{ message.title }}</h1>
	<form>
		<date date='date'></date>
		<place place='place'></place>
		<contact contact='contact'></contact>
		<message message='message'></message>
		<button ng-click='updateEvt()'>Modifier l'évênement</button>
	</form>
	<h1>Les événements</h1>
	<table>
		<tr ng-repeat='evt in listEvt'>
			<th>{{ evt.title }}</th>
			<td>Le {{ evt.day | decade }} / {{ evt.month | decade }} / {{ evt.year }}</td>
			<td><button class='modify-evt' ng-click='selectEvt($index)'>Modifier</button></td>
		</tr>
	</table>
</body>
<script type='text/javascript' src='front/library/appEvt.js'></script>
<script type='text/javascript' src='front/updateEvt/updateEvtController.js'></script>
<script type='text/javascript' src='front/library/serviceDate.js'></script>
<script type='text/javascript' src='front/library/serviceEvent.js'></script>
<script type='text/javascript' src='front/updateEvt/updateEvtComponents.js'></script>
</html>