/*
author: Deborah Powers
job: Dev Web
school: Simplon Lieusaint
creation: 2018/03/17
update: 2018/03/17

css special pour mon site
body {
	max-width: 12cm;
}
*/
/* barre de navigation */
div.nav {
	/* width: 5cm; */
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
/* articles */
div.article {
	border-style: double;
	border-color: #4BB;
	border-width: 2mm;
	border-radius: 2mm;
	padding: 2mm;
}
div.article h1 { margin-bottom: 2mm; }
h2 {
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
	text-align: center;
}
/* formulaires */
fieldset { border: none; }
button.modify-evt {
	margin-left: 40%;
}
/* les images */
img { max-width: 4cm; }
/* priorite des evenements */
span.color {
	display: inline-block;
	width: 4mm;
	height: 4mm;
	border-radius: 2mm;
}
span.low { background-color: #4BB; }
span.high { background-color: red; }
span.old { background-color: #820; }
/* pour les ordi, avec un écran large */
@media (min-width: 600px){
	img { float: right; }
	form {
		column-count: 3;
		-moz-column-count: 3;
		-webkit-column-count: 3;
		-o-column-count: 3;
	}
	fieldset .row { flex-direction: column; }
	div.article-container {
		display: flex;
		flex-wrap: wrap;
	}
	div.article { width: 50%; }
}