<fieldset>
	<h2>Entrez votre évenement</h2>
	<p class='row'><span>Titre:</span><input type='text' name='title' ng-model='$ctrl.message.title'/></p>
	<p>Message:</p>
	<textarea name='note' ng-model='$ctrl.message.note'></textarea>
	<p class='row'><span>Tags: séparez-les par une virgule</span><input type='text' name='tags' ng-model='$ctrl.message.tags'/></p>
	<p>Priorité:</p>
	<p class='row'><span>Faible</span><input type='radio' name='priority' ng-model='$ctrl.message.priority' value='low'/></p>
	<p class='row'><span>Haute</span><input type='radio' name='priority' ng-model='$ctrl.message.priority' value='high'/></p>
</fieldset>