<fieldset>
	<h2>Choisissez la date</h2>
	<input type='button' value='Date du jour' ng-click='todayDate(date)'/>
	<input type='button' value='Date par défaut' ng-click='blankDate(date)'/>
	<p>Date: {{ $ctrl.date.year }}/{{ $ctrl.date.month | decade }}/{{ $ctrl.date.day | decade }}, {{ $ctrl.date.hour | decade }}:{{ $ctrl.date.minute | decade }}</p>
	<p class='row'>
		<span>Année:</span>
		<input type='range' min='2018' max='2020' name='year' ng-model='$ctrl.date.year'/>
	</p>
	<p class='row'>
		<span>Mois:</span>
		<input type='range' min='01' max='12' name='month' ng-model='$ctrl.date.month'/>
	</p>
	<p class='row'>
		<span>Jour:</span>
		<input type='range' min='01' max='31' name='day' ng-model='$ctrl.date.day'/>
	</p>
	<p class='row'>
		<span>Heure:</span>
		<input type='range' min='08' max='22' name='hour' ng-model='$ctrl.date.hour'/>
	</p>
	<p class='row'>
		<span>Minute:</span>
		<input type='range' min='00' max='59' step='10' name='minute' ng-model='$ctrl.date.minute'/>
	</p>
	<p>Récurrence</p>
	<p class='row'>
		<span>Jamais</span>
		<input type='radio' name='recurrence' ng-model='$ctrl.date.recurrence' value='no'/>
	</p>
	<p class='row'>
		<span>Quotidien</span>
		<input type='radio' name='recurrence' ng-model='$ctrl.date.recurrence' value='day'/>
	</p>
	<p class='row'>
		<span>Hebdomadaire</span>
		<input type='radio' name='recurrence' ng-model='$ctrl.date.recurrence' value='week'/>
	</p>
	<p class='row'>
		<span>Mensuel</span>
		<input type='radio' name='recurrence' ng-model='$ctrl.date.recurrence' value='month'/>
	</p>
	<p class='row'>
		<span>Annuel</span>
		<input type='radio' name='recurrence' ng-model='$ctrl.date.recurrence' value='year'/>
	</p>
</fieldset>