/* dépend en partie de pave.css */
boule, bol {
	/* propriétés modifiables */
	--width: 8cm;
	color: var(--text-color);
	background-color: var(--fond-color);
	border: none;
	/* ------ */
	--width-half: calc(var(--width) /2);
	width: var(--width);
	height: var(--width);
	border-radius: 50%;
	display: inline-block;
	transform-style: preserve-3d;
	padding: 0;
	text-align: center;
	background-position: center;
}
bol {
	/* propriétés modifiables */
	--top: var(--page-color);
	--fond: var(--fond-color);
	--bord: double 8px var(--bord-color);
	/* ------ */
	background: none;
	height: var(--width-half);
}
boule:before, boule:after {
	border-radius: 50%;
	border: inherit;
	transform: rotateY(60deg);
	background: inherit;
}
boule:after { transform: rotateY(120deg); }
boule >*, bol >*{
	width: 6.5%;
	height: 6.5%;
	position: absolute;
	top: 46.75%;
	left: 46.75%; /* calc((var(--width) - width) /2) */
	border: none;
	background: inherit;
	transform-style: preserve-3d;
	margin: 0;
}
boule >*:before, boule >*:after, boule:before, boule:after, bol >*:nth-child(n+2):before, bol >*:nth-child(n+2):after {
	content: "";
	width: 100%;
	height: 100%;
	border: inherit;
	background: inherit;
	display: block;
	position: absolute;
	left: 0;
}
boule >*:before, bol >*:before {
	transform-origin: top center;
	transform: rotateX(-7.5deg);
	top: 100%;
}
boule >*:after, bol >*:after {
	transform-origin: bottom center;
	transform: rotateX(7.5deg);
	top: -100%;
}
boule >*:nth-child(1){ transform: rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(2){ transform: rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(3){ transform: rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(4){ transform: rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(5){ transform: rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(6){ transform: rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(7){ transform: rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(8){ transform: rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(9){ transform: rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(10){ transform: rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(11){ transform: rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(12){ transform: rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(13){ transform: rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(14){ transform: rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(15){ transform: rotateY(7.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(16){ transform: rotateY(7.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(17){ transform: rotateY(7.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(18){ transform: rotateY(7.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(19){ transform: rotateY(7.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(20){ transform: rotateY(7.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(21){ transform: rotateY(7.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(22){ transform: rotateY(7.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(23){ transform: rotateY(7.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(24){ transform: rotateY(7.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(25){ transform: rotateY(7.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(26){ transform: rotateY(7.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(27){ transform: rotateY(7.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(28){ transform: rotateY(7.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(29){ transform: rotateY(15deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(30){ transform: rotateY(15deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(31){ transform: rotateY(15deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(32){ transform: rotateY(15deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(33){ transform: rotateY(15deg) rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(34){ transform: rotateY(15deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(35){ transform: rotateY(15deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(36){ transform: rotateY(15deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(37){ transform: rotateY(15deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(38){ transform: rotateY(15deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(39){ transform: rotateY(15deg) rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(40){ transform: rotateY(15deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(41){ transform: rotateY(15deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(42){ transform: rotateY(15deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(43){ transform: rotateY(22.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(44){ transform: rotateY(22.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(45){ transform: rotateY(22.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(46){ transform: rotateY(22.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(47){ transform: rotateY(22.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(48){ transform: rotateY(22.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(49){ transform: rotateY(22.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(50){ transform: rotateY(22.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(51){ transform: rotateY(22.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(52){ transform: rotateY(22.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(53){ transform: rotateY(22.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(54){ transform: rotateY(22.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(55){ transform: rotateY(22.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(56){ transform: rotateY(22.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(57){ transform: rotateY(30deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(58){ transform: rotateY(30deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(59){ transform: rotateY(30deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(60){ transform: rotateY(30deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(61){ transform: rotateY(30deg) rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(62){ transform: rotateY(30deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(63){ transform: rotateY(30deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(64){ transform: rotateY(30deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(65){ transform: rotateY(30deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(66){ transform: rotateY(30deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(67){ transform: rotateY(30deg) rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(68){ transform: rotateY(30deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(69){ transform: rotateY(30deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(70){ transform: rotateY(30deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(71){ transform: rotateY(37.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(72){ transform: rotateY(37.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(73){ transform: rotateY(37.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(74){ transform: rotateY(37.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(75){ transform: rotateY(37.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(76){ transform: rotateY(37.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(77){ transform: rotateY(37.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(78){ transform: rotateY(37.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(79){ transform: rotateY(37.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(80){ transform: rotateY(37.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(81){ transform: rotateY(37.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(82){ transform: rotateY(37.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(83){ transform: rotateY(37.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(84){ transform: rotateY(37.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(85){ transform: rotateY(45deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(86){ transform: rotateY(45deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(87){ transform: rotateY(45deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(88){ transform: rotateY(45deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(89){ transform: rotateY(45deg) rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(90){ transform: rotateY(45deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(91){ transform: rotateY(45deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(92){ transform: rotateY(45deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(93){ transform: rotateY(45deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(94){ transform: rotateY(45deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(95){ transform: rotateY(45deg) rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(96){ transform: rotateY(45deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(97){ transform: rotateY(45deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(98){ transform: rotateY(45deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(99){ transform: rotateY(52.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(100){ transform: rotateY(52.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(101){ transform: rotateY(52.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(102){ transform: rotateY(52.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(103){ transform: rotateY(52.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(104){ transform: rotateY(52.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(105){ transform: rotateY(52.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(106){ transform: rotateY(52.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(107){ transform: rotateY(52.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(108){ transform: rotateY(52.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(109){ transform: rotateY(52.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(110){ transform: rotateY(52.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(111){ transform: rotateY(52.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(112){ transform: rotateY(52.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(113){ transform: rotateY(60deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(114){ transform: rotateY(60deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(115){ transform: rotateY(60deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(116){ transform: rotateY(60deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(117){ transform: rotateY(60deg) rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(118){ transform: rotateY(60deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(119){ transform: rotateY(60deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(120){ transform: rotateY(60deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(121){ transform: rotateY(60deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(122){ transform: rotateY(60deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(123){ transform: rotateY(60deg) rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(124){ transform: rotateY(60deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(125){ transform: rotateY(60deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(126){ transform: rotateY(60deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(127){ transform: rotateY(67.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(128){ transform: rotateY(67.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(129){ transform: rotateY(67.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(130){ transform: rotateY(67.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(131){ transform: rotateY(67.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(132){ transform: rotateY(67.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(133){ transform: rotateY(67.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(134){ transform: rotateY(67.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(135){ transform: rotateY(67.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(136){ transform: rotateY(67.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(137){ transform: rotateY(67.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(138){ transform: rotateY(67.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(139){ transform: rotateY(67.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(140){ transform: rotateY(67.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(141){ transform: rotateY(75deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(142){ transform: rotateY(75deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(143){ transform: rotateY(75deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(144){ transform: rotateY(75deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(145){ transform: rotateY(75deg) rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(146){ transform: rotateY(75deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(147){ transform: rotateY(75deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(148){ transform: rotateY(75deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(149){ transform: rotateY(75deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(150){ transform: rotateY(75deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(151){ transform: rotateY(75deg) rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(152){ transform: rotateY(75deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(153){ transform: rotateY(75deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(154){ transform: rotateY(75deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(155){ transform: rotateY(82.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(156){ transform: rotateY(82.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(157){ transform: rotateY(82.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(158){ transform: rotateY(82.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(159){ transform: rotateY(82.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(160){ transform: rotateY(82.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(161){ transform: rotateY(82.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(162){ transform: rotateY(82.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(163){ transform: rotateY(82.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(164){ transform: rotateY(82.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(165){ transform: rotateY(82.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(166){ transform: rotateY(82.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(167){ transform: rotateY(82.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(168){ transform: rotateY(82.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(169){ transform: rotateY(90deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(170){ transform: rotateY(90deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(171){ transform: rotateY(90deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(172){ transform: rotateY(90deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(173){ transform: rotateY(90deg) rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(174){ transform: rotateY(90deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(175){ transform: rotateY(90deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(176){ transform: rotateY(90deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(177){ transform: rotateY(90deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(178){ transform: rotateY(90deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(179){ transform: rotateY(90deg) rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(180){ transform: rotateY(90deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(181){ transform: rotateY(90deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(182){ transform: rotateY(90deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(183){ transform: rotateY(97.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(184){ transform: rotateY(97.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(185){ transform: rotateY(97.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(186){ transform: rotateY(97.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(187){ transform: rotateY(97.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(188){ transform: rotateY(97.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(189){ transform: rotateY(97.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(190){ transform: rotateY(97.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(191){ transform: rotateY(97.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(192){ transform: rotateY(97.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(193){ transform: rotateY(97.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(194){ transform: rotateY(97.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(195){ transform: rotateY(97.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(196){ transform: rotateY(97.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(197){ transform: rotateY(105deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(198){ transform: rotateY(105deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(199){ transform: rotateY(105deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(200){ transform: rotateY(105deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(201){ transform: rotateY(105deg) rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(202){ transform: rotateY(105deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(203){ transform: rotateY(105deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(204){ transform: rotateY(105deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(205){ transform: rotateY(105deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(206){ transform: rotateY(105deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(207){ transform: rotateY(105deg) rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(208){ transform: rotateY(105deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(209){ transform: rotateY(105deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(210){ transform: rotateY(105deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(211){ transform: rotateY(112.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(212){ transform: rotateY(112.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(213){ transform: rotateY(112.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(214){ transform: rotateY(112.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(215){ transform: rotateY(112.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(216){ transform: rotateY(112.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(217){ transform: rotateY(112.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(218){ transform: rotateY(112.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(219){ transform: rotateY(112.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(220){ transform: rotateY(112.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(221){ transform: rotateY(112.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(222){ transform: rotateY(112.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(223){ transform: rotateY(112.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(224){ transform: rotateY(112.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(225){ transform: rotateY(120deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(226){ transform: rotateY(120deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(227){ transform: rotateY(120deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(228){ transform: rotateY(120deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(229){ transform: rotateY(120deg) rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(230){ transform: rotateY(120deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(231){ transform: rotateY(120deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(232){ transform: rotateY(120deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(233){ transform: rotateY(120deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(234){ transform: rotateY(120deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(235){ transform: rotateY(120deg) rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(236){ transform: rotateY(120deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(237){ transform: rotateY(120deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(238){ transform: rotateY(120deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(239){ transform: rotateY(127.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(240){ transform: rotateY(127.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(241){ transform: rotateY(127.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(242){ transform: rotateY(127.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(243){ transform: rotateY(127.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(244){ transform: rotateY(127.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(245){ transform: rotateY(127.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(246){ transform: rotateY(127.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(247){ transform: rotateY(127.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(248){ transform: rotateY(127.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(249){ transform: rotateY(127.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(250){ transform: rotateY(127.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(251){ transform: rotateY(127.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(252){ transform: rotateY(127.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(253){ transform: rotateY(135deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(254){ transform: rotateY(135deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(255){ transform: rotateY(135deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(256){ transform: rotateY(135deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(257){ transform: rotateY(135deg) rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(258){ transform: rotateY(135deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(259){ transform: rotateY(135deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(260){ transform: rotateY(135deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(261){ transform: rotateY(135deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(262){ transform: rotateY(135deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(263){ transform: rotateY(135deg) rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(264){ transform: rotateY(135deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(265){ transform: rotateY(135deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(266){ transform: rotateY(135deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(267){ transform: rotateY(142.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(268){ transform: rotateY(142.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(269){ transform: rotateY(142.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(270){ transform: rotateY(142.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(271){ transform: rotateY(142.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(272){ transform: rotateY(142.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(273){ transform: rotateY(142.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(274){ transform: rotateY(142.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(275){ transform: rotateY(142.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(276){ transform: rotateY(142.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(277){ transform: rotateY(142.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(278){ transform: rotateY(142.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(279){ transform: rotateY(142.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(280){ transform: rotateY(142.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(281){ transform: rotateY(150deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(282){ transform: rotateY(150deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(283){ transform: rotateY(150deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(284){ transform: rotateY(150deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(285){ transform: rotateY(150deg) rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(286){ transform: rotateY(150deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(287){ transform: rotateY(150deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(288){ transform: rotateY(150deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(289){ transform: rotateY(150deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(290){ transform: rotateY(150deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(291){ transform: rotateY(150deg) rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(292){ transform: rotateY(150deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(293){ transform: rotateY(150deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(294){ transform: rotateY(150deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(295){ transform: rotateY(157.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(296){ transform: rotateY(157.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(297){ transform: rotateY(157.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(298){ transform: rotateY(157.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(299){ transform: rotateY(157.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(300){ transform: rotateY(157.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(301){ transform: rotateY(157.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(302){ transform: rotateY(157.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(303){ transform: rotateY(157.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(304){ transform: rotateY(157.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(305){ transform: rotateY(157.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(306){ transform: rotateY(157.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(307){ transform: rotateY(157.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(308){ transform: rotateY(157.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(309){ transform: rotateY(165deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(310){ transform: rotateY(165deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(311){ transform: rotateY(165deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(312){ transform: rotateY(165deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(313){ transform: rotateY(165deg) rotateX(123.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(314){ transform: rotateY(165deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(315){ transform: rotateY(165deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(316){ transform: rotateY(165deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(317){ transform: rotateY(165deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(318){ transform: rotateY(165deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(319){ transform: rotateY(165deg) rotateX(258.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(320){ transform: rotateY(165deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(321){ transform: rotateY(165deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(322){ transform: rotateY(165deg) rotateX(348.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(323){ transform: rotateY(172.5deg) rotateX(11.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(324){ transform: rotateY(172.5deg) rotateX(33.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(325){ transform: rotateY(172.5deg) rotateX(56.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(326){ transform: rotateY(172.5deg) rotateX(78.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(327){ transform: rotateY(172.5deg) rotateX(101.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(328){ transform: rotateY(172.5deg) rotateX(146.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(329){ transform: rotateY(172.5deg) rotateX(168.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(330){ transform: rotateY(172.5deg) rotateX(191.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(331){ transform: rotateY(172.5deg) rotateX(213.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(332){ transform: rotateY(172.5deg) rotateX(236.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(333){ transform: rotateY(172.5deg) rotateX(281.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(334){ transform: rotateY(172.5deg) rotateX(303.75deg) translateZ(var(--width-half)); }
boule >*:nth-child(335){ transform: rotateY(172.5deg) rotateX(326.25deg) translateZ(var(--width-half)); }
boule >*:nth-child(336){ transform: rotateY(172.5deg) rotateX(348.75deg) translateZ(var(--width-half)); }

/* ------------------------ le bol ------------------------ */

bol >*:nth-child(1) {
	border-radius: 50%;
	width: inherit;
	height: var(--width);
	background: var(--top);
	border: var(--bord);
	transform: rotateX(90deg) translateZ(var(--width-half));
	top: 0;
	left: 0;
}
bol >*:nth-child(n+2){
	height: 13%;
	top: -6.5%;
	background: var(--fond);
}
bol >*:nth-child(2){ transform: rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(3){ transform: rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(4){ transform: rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(5){ transform: rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(6){ transform: rotateX(270deg) translateZ(var(--width-half)); }
bol >*:nth-child(7){ transform: rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(8){ transform: rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(9){ transform: rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(10){ transform: rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(11){ transform: rotateY(7.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(12){ transform: rotateY(7.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(13){ transform: rotateY(7.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(14){ transform: rotateY(7.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(15){ transform: rotateY(7.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(16){ transform: rotateY(7.5deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(17){ transform: rotateY(15deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(18){ transform: rotateY(15deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(19){ transform: rotateY(15deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(20){ transform: rotateY(15deg) rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(21){ transform: rotateY(15deg) rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(22){ transform: rotateY(15deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(23){ transform: rotateY(15deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(24){ transform: rotateY(15deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(25){ transform: rotateY(22.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(26){ transform: rotateY(22.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(27){ transform: rotateY(22.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(28){ transform: rotateY(22.5deg) rotateX(270deg) translateZ(var(--width-half)); }
bol >*:nth-child(29){ transform: rotateY(22.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(30){ transform: rotateY(22.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(31){ transform: rotateY(22.5deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(32){ transform: rotateY(30deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(33){ transform: rotateY(30deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(34){ transform: rotateY(30deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(35){ transform: rotateY(30deg) rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(36){ transform: rotateY(30deg) rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(37){ transform: rotateY(30deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(38){ transform: rotateY(30deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(39){ transform: rotateY(30deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(40){ transform: rotateY(37.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(41){ transform: rotateY(37.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(42){ transform: rotateY(37.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(43){ transform: rotateY(37.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(44){ transform: rotateY(37.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(45){ transform: rotateY(37.5deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(46){ transform: rotateY(45deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(47){ transform: rotateY(45deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(48){ transform: rotateY(45deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(49){ transform: rotateY(45deg) rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(50){ transform: rotateY(45deg) rotateX(270deg) translateZ(var(--width-half)); }
bol >*:nth-child(51){ transform: rotateY(45deg) rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(52){ transform: rotateY(45deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(53){ transform: rotateY(45deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(54){ transform: rotateY(45deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(55){ transform: rotateY(52.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(56){ transform: rotateY(52.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(57){ transform: rotateY(52.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(58){ transform: rotateY(52.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(59){ transform: rotateY(52.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(60){ transform: rotateY(52.5deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(61){ transform: rotateY(60deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(62){ transform: rotateY(60deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(63){ transform: rotateY(60deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(64){ transform: rotateY(60deg) rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(65){ transform: rotateY(60deg) rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(66){ transform: rotateY(60deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(67){ transform: rotateY(60deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(68){ transform: rotateY(60deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(69){ transform: rotateY(67.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(70){ transform: rotateY(67.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(71){ transform: rotateY(67.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(72){ transform: rotateY(67.5deg) rotateX(270deg) translateZ(var(--width-half)); }
bol >*:nth-child(73){ transform: rotateY(67.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(74){ transform: rotateY(67.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(75){ transform: rotateY(67.5deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(76){ transform: rotateY(75deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(77){ transform: rotateY(75deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(78){ transform: rotateY(75deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(79){ transform: rotateY(75deg) rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(80){ transform: rotateY(75deg) rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(81){ transform: rotateY(75deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(82){ transform: rotateY(75deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(83){ transform: rotateY(75deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(84){ transform: rotateY(82.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(85){ transform: rotateY(82.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(86){ transform: rotateY(82.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(87){ transform: rotateY(82.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(88){ transform: rotateY(82.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(89){ transform: rotateY(82.5deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(90){ transform: rotateY(90deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(91){ transform: rotateY(90deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(92){ transform: rotateY(90deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(93){ transform: rotateY(90deg) rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(94){ transform: rotateY(90deg) rotateX(270deg) translateZ(var(--width-half)); }
bol >*:nth-child(95){ transform: rotateY(90deg) rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(96){ transform: rotateY(90deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(97){ transform: rotateY(90deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(98){ transform: rotateY(90deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(99){ transform: rotateY(97.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(100){ transform: rotateY(97.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(101){ transform: rotateY(97.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(102){ transform: rotateY(97.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(103){ transform: rotateY(97.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(104){ transform: rotateY(97.5deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(105){ transform: rotateY(105deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(106){ transform: rotateY(105deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(107){ transform: rotateY(105deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(108){ transform: rotateY(105deg) rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(109){ transform: rotateY(105deg) rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(110){ transform: rotateY(105deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(111){ transform: rotateY(105deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(112){ transform: rotateY(105deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(113){ transform: rotateY(112.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(114){ transform: rotateY(112.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(115){ transform: rotateY(112.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(116){ transform: rotateY(112.5deg) rotateX(270deg) translateZ(var(--width-half)); }
bol >*:nth-child(117){ transform: rotateY(112.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(118){ transform: rotateY(112.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(119){ transform: rotateY(112.5deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(120){ transform: rotateY(120deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(121){ transform: rotateY(120deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(122){ transform: rotateY(120deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(123){ transform: rotateY(120deg) rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(124){ transform: rotateY(120deg) rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(125){ transform: rotateY(120deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(126){ transform: rotateY(120deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(127){ transform: rotateY(120deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(128){ transform: rotateY(127.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(129){ transform: rotateY(127.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(130){ transform: rotateY(127.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(131){ transform: rotateY(127.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(132){ transform: rotateY(127.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(133){ transform: rotateY(127.5deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(134){ transform: rotateY(135deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(135){ transform: rotateY(135deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(136){ transform: rotateY(135deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(137){ transform: rotateY(135deg) rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(138){ transform: rotateY(135deg) rotateX(270deg) translateZ(var(--width-half)); }
bol >*:nth-child(139){ transform: rotateY(135deg) rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(140){ transform: rotateY(135deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(141){ transform: rotateY(135deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(142){ transform: rotateY(135deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(143){ transform: rotateY(142.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(144){ transform: rotateY(142.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(145){ transform: rotateY(142.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(146){ transform: rotateY(142.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(147){ transform: rotateY(142.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(148){ transform: rotateY(142.5deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(149){ transform: rotateY(150deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(150){ transform: rotateY(150deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(151){ transform: rotateY(150deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(152){ transform: rotateY(150deg) rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(153){ transform: rotateY(150deg) rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(154){ transform: rotateY(150deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(155){ transform: rotateY(150deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(156){ transform: rotateY(150deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(157){ transform: rotateY(157.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(158){ transform: rotateY(157.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(159){ transform: rotateY(157.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(160){ transform: rotateY(157.5deg) rotateX(270deg) translateZ(var(--width-half)); }
bol >*:nth-child(161){ transform: rotateY(157.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(162){ transform: rotateY(157.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(163){ transform: rotateY(157.5deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(164){ transform: rotateY(165deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(165){ transform: rotateY(165deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(166){ transform: rotateY(165deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(167){ transform: rotateY(165deg) rotateX(290deg) translateZ(var(--width-half)); }
bol >*:nth-child(168){ transform: rotateY(165deg) rotateX(250deg) translateZ(var(--width-half)); }
bol >*:nth-child(169){ transform: rotateY(165deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(170){ transform: rotateY(165deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(171){ transform: rotateY(165deg) rotateX(190deg) translateZ(var(--width-half)); }
bol >*:nth-child(172){ transform: rotateY(172.5deg) rotateX(350deg) translateZ(var(--width-half)); }
bol >*:nth-child(173){ transform: rotateY(172.5deg) rotateX(330deg) translateZ(var(--width-half)); }
bol >*:nth-child(174){ transform: rotateY(172.5deg) rotateX(310deg) translateZ(var(--width-half)); }
bol >*:nth-child(175){ transform: rotateY(172.5deg) rotateX(230deg) translateZ(var(--width-half)); }
bol >*:nth-child(176){ transform: rotateY(172.5deg) rotateX(210deg) translateZ(var(--width-half)); }
bol >*:nth-child(177){ transform: rotateY(172.5deg) rotateX(190deg) translateZ(var(--width-half)); }

/* ------------------------ exemple ------------------------ */

container {
	perspective: 800px;
	perspective-origin: -100% 100px;
}
/*
<boule>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
</boule>
<bol>
	<p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
</bol>
*/