:root {
	--text-color: #342C37;
	--fond-color: #F5DEF5;
	--bord-color: #C29FC2;
	--page-color: ivory;
	--button-color: ivory;
	--button-color-hover: ivory;
	--button-bg: #754870;
	--button-bg-hover: #3F5484;
	--foldable-border: solid;
}
html { background-color: #C29FC2; }
body {
	max-width: 36cm;
	min-height: 20cm;
	padding: 0 0 1em 0;
}
div.container >* { margin: 0 2%; }
div.container > nav {
	margin: 0;
	margin-bottom: 1cm;
	border: solid 2px var(--text-color);
	border-top: none;
	border-bottom: none;
}
/* fiche */
section.fiche {
	/*
	display: inline-block;
	width: 45%;
	*/
	border: solid 2px var(--text-color);
	border-radius: 2em;
	background: linear-gradient(180deg, var(--button-bg) 3em, transparent 3em);
	text-align: left;
	margin: 1%;
	margin-top: 5%;
}
section.fiche >* { margin: 1% 2%; }
section.fiche a.title, section.fiche h2 {
	display: block;
	margin: 0;
	font-size: 1.5em;
	background-color: var(--button-bg);
	border-radius: 2em 2em 0 0;
	text-align: center;
}
section.fiche h3 { text-align: center; }
section.fiche img {
	margin: 0;
	max-width: 100%;
}
.text-gradient{
	background: linear-gradient(90deg, teal, 10%, #603);
	color: transparent;
	-webkit-background-clip: text;
}
/*
https://www.w3docs.com/snippets/css/how-to-change-the-default-text-selection-color-with-css.html#google_vignette
*/
/* affichage pour les smartphones */
@media (max-width: 768px){
	section.fiche { width: 98%; }
	div.container > section { margin: 0 0 1em 0; }
}
/* deux methodes pour faire une banniere */
body.banner {
/*	background-image: url('../data/banniere.jpg'); */
	background-repeat: no-repeat;
	background-size: 100% 10cm;
	padding-top: 10cm;
}
img#banner {
	width: 100%;
	height: 10cm;
	object-fit: cover;
	margin: 0;
}
@media (max-width: 768px){
	body.banner {
		background-image: none;
		padding-top: 0;
}}
@media print{
	body.banner {
		background: none;
		padding-top: 0;
}}