/* https://la-cascade.io/articles/creer-un-cube-en-css */
cube, poutre, pave {
	--width: 4cm;
	width: var(--width);
	display: block;
	transform-style: preserve-3d;
	padding: 0;
	text-align: center;
	background-position: center;
}
cube >*, poutre >*, pave >* {
	border: var(--bord);
	background: var(--fond);
	width: inherit;
	height: inherit;
	margin: 0;
	color: inherit;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	background-position: center;
	background-size: contain;
}
/* ------------------------ cube ------------------------ */

cube {
	height: var(--width);
	--width-half: calc(var(--width) /2);
}
cube >*:nth-child(1){
	transform: rotateX(-90deg) translateY(50%);
	transform-origin: bottom center;
}
cube >*:nth-child(2){
	transform: rotateY(180deg) translateZ(var(--width-half));
}
cube >*:nth-child(3){
	transform: rotateY(270deg) translateX(-50%);
	transform-origin: center left;
}
cube >*:nth-child(4){
	transform: rotateY(-270deg) translateX(50%);
	transform-origin: center right;
}
cube >*:nth-child(5){
	transform: translateZ(var(--width-half));
}
cube >*:nth-child(6){
	transform: rotateX(90deg) translateY(-50%);
	transform-origin: top center;
}
/* cube qui tourne selon spin-vertical */
cube.vertical >*:nth-child(2){
	transform: rotateX(180deg) translateZ(var(--width-half));
}
/* ------------------------ poutre ------------------------ */

poutre {
	--height: 7cm;
	--width-half: calc(var(--width) /2);
	height: var(--height);
}
poutre >*:nth-child(1){
	height: var(--width);
	transform: rotateX(-90deg) translateY(50%) translateZ(calc(var(--height) - var(--width)));
	transform-origin: bottom center;
}
poutre >*:nth-child(2){
	transform: rotateY(180deg) translateZ(var(--width-half));
}
poutre >*:nth-child(3){
	transform: rotateY(270deg) translateX(-50%);
	transform-origin: center left;
}
poutre >*:nth-child(4){
	transform: rotateY(-270deg) translateX(50%);
	transform-origin: center right;
}
poutre >*:nth-child(5){
	transform: translateZ(var(--width-half));
}
poutre >*:nth-child(6){
	height: var(--width);
	transform: rotateX(90deg) translateY(-50%);
	transform-origin: top center;
}
/* poutre qui tourne selon spin-vertical */
poutre.vertical >*:nth-child(2){
	transform: rotateX(180deg) translateZ(var(--width-half));
}
/* ------------------------ pavé ------------------------ */

pave {
	--height: 7cm;
	--depth: 11cm;
	--depth-half: calc(var(--depth) /2);
	height: var(--height);
}
pave >*:nth-child(1){
	height: var(--depth);
	transform: rotateX(-90deg) translateY(50%) translateZ(calc(var(--height) - var(--depth)));
	transform-origin: bottom center;
}
pave >*:nth-child(2){
	transform: rotateY(180deg) translateZ(var(--depth-half));
}
pave >*:nth-child(3){
	width: var(--depth);
	transform: rotateY(270deg) translateX(-50%);
	transform-origin: center left;
}
pave >*:nth-child(4){
	width: var(--depth);
	transform: rotateY(-270deg) translateX(50%) translateZ(calc(var(--width) - var(--depth)));
	transform-origin: center right;
}
pave >*:nth-child(5){
	transform: translateZ(var(--depth-half));
}
pave >*:nth-child(6){
	height: var(--depth);
	transform: rotateX(90deg) translateY(-50%);
	transform-origin: top center;
}
/* pavé qui tourne selon spin-vertical */
pave.vertical >*:nth-child(2){
	transform: rotateX(180deg) translateZ(var(--depth-half));
}
/* ------------------------ rotations ------------------------ */

@keyframes spin-horizontal {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}
@keyframes spin-vertical {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
}
/* ------------------------ exemples ------------------------ */

container#mycube {
	perspective: 800px;
	perspective-origin: -100% 100px;
}
cube#mycube {
	animation: spin-vertical 5s infinite linear;
	--width: 4cm;
	--bord: double 20px yellow;
	--fond: turquoise;
	margin-top: 3cm;
}
/*
<cube id='mycube'>
	<p id='bottom'>bottom</p>
	<p id='back'>back</p>
	<p id='left'>left</p>
	<p id='right'>right</p>
	<p id='front'>front</p>
	<p id='top'>top</p>
</cube>
*/