/* dépend de pave.css */
chanfrein { --bevwidth: 0.6; }
chanfrein >*:nth-child(1), chanfrein >*:nth-child(2){
	border-radius: calc(50% - var(--bevwidth) *50%);
	transform-style: preserve-3d;
}
chanfrein >*:nth-child(n+3){
	border: none;
	transform-style: preserve-3d;
	width: calc(100% * var(--bevwidth));
	left: calc(var(--width) * (1 - var(--bevwidth)) /2);
}
chanfrein >*:before, chanfrein >*:after {
	content: "";
	width: calc(50% * (1 - var(--bevwidth)) * sqrt(2 - 2 * cos(30deg)));
	height: var(--height);
	border: none;
	background: inherit;
	display: block;
	position: absolute;
	text-align: center;
	background-position: center;
	background-size: contain;
}
chanfrein >*:nth-child(1):before, chanfrein >*:nth-child(1):after, chanfrein >*:nth-child(2):before, chanfrein >*:nth-child(2):after {
	left: calc(50% * (1 - 0.5* (1 - var(--bevwidth)) * sqrt(2 - 2 * cos(30deg))));
	top: calc(50% - 0.5 * var(--height));
	transform-origin: center center;
}
chanfrein >*:nth-child(1):before, chanfrein >*:nth-child(2):before {
	transform: rotateX(90deg) translateY(-50%) rotateY(45deg) translateZ(calc(var(--depth-half) * (var(--bevwidth) * sqrt(2) + (1 - var(--bevwidth)) * sin(75deg)))); /* 75= 180-30 /2  30= 90 - 2*30 */
}
chanfrein >*:nth-child(1):after, chanfrein >*:nth-child(2):after {
	transform: rotateX(90deg) translateY(-50%) rotateY(-45deg) translateZ(calc(var(--depth-half) * (var(--bevwidth) * sqrt(2) + (1 - var(--bevwidth)) * sin(75deg))));
}
chanfrein >*:nth-child(n+3):before, chanfrein >*:nth-child(n+3):after {
/*	width: calc(var(--width) * (1 - var(--bevwidth)) * 0.3826834323650897717284599840304);	ancienne méthode */
	top: 0;
}
chanfrein >*:nth-child(n+3):before {
	transform-origin: center left;
	left: calc(var(--width) * (var(--bevwidth)) );
	transform: rotateY(15deg);
}
chanfrein >*:nth-child(n+3):after {
	transform-origin: center right;
	left: calc(var(--width) *-0.5* (1 - var(--bevwidth)) * sqrt(2 - 2 * cos(30deg)));
	transform: rotateY(-15deg);
/*	left: calc(var(--width) * (var(--bevwidth) - 1) * 0.3826834323650897717284599840304);	ancienne méthode
	transform: rotateY(-22.5deg);
	*/
}
cylindre >*:nth-child(1), cylindre >*:nth-child(2) { border-radius: 50%; }
cylindre >*:nth-child(n+3){
	left: 46.75%; /* calc((var(--width) - width) /2) */
	width: 6.5%;
	border: none;
	transform-style: preserve-3d;
}
cylindre >*:nth-child(n+3):before, cylindre >*:nth-child(n+3):after {
	content: "";
	width: 100%;
	height: inherit;
	border: inherit;
	background: inherit;
	display: block;
	position: absolute;
	top: 0;
	text-align: center;
	background-position: center;
	background-size: contain;
}
cylindre >*:nth-child(n+3):before {
	transform-origin: center left;
	left: 100%;
	transform: rotateY(7.5deg);
}
cylindre >*:nth-child(n+3):after {
	transform-origin: center right;
	left: -100%;
	transform: rotateY(-7.5deg);
}
cylindre >*:nth-child(3){ transform: translateZ(var(--depth-half)); }
cylindre >*:nth-child(4){ transform: rotateY(22.5deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(5){ transform: rotateY(45deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(6){ transform: rotateY(67.5deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(7){ transform: rotateY(90deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(8){ transform: rotateY(112.5deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(9){ transform: rotateY(135deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(10){ transform: rotateY(157.5deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(11){ transform: rotateY(180deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(12){ transform: rotateY(202.5deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(13){ transform: rotateY(225deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(14){ transform: rotateY(247.5deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(15){ transform: rotateY(270deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(16){ transform: rotateY(292.5deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(17){ transform: rotateY(315deg) translateZ(var(--depth-half)); }
cylindre >*:nth-child(18){ transform: rotateY(337.5deg) translateZ(var(--depth-half)); }
/*
<cylindre>
	<p>top</p>
	<p>bottom</p>
	<p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
</cylindre>
*/