/* dessiner des formes 3D
les figures sont créées uniquement par css
pave-3d.js créé automatiquement les faces
*/
@keyframes spin-x {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
}
@keyframes spin-y {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}
@keyframes spin-z {
	from { transform: rotateZ(0); }
	to { transform: rotateZ(-360deg); }
}
.mesure {
	/* objet en cours de création */
	--fond:
		linear-gradient(90deg, transparent 49.5%, maroon 49.5% 50.5%, transparent 50.5%),
		linear-gradient(#0994 49.5%, maroon 49.5% 50.5%, #0994 50.5%);
	--bord: none;
	background-color: #0994;
	background-image:
		linear-gradient(90deg, transparent 49.5%, maroon 49.5% 50.5%, transparent 50.5%),
		linear-gradient(transparent 49.5%, maroon 49.5% 50.5%, transparent 50.5%);
}
pave-3d, tiso-3d, trec-3d, hexa-3d, octo-3d, tub-q3d, tube-3d, cwn-q3d, hbol-3d, bole-3d, boul-3d, cyld-3d, caps-3d {
	/* propriétés modifiables */
/*	height: 8cm;
	width: 8cm;
	--fond: #F084;
*/
	color: var(--text-color);
	/* ------ */
	border: none;
	background: none;
	display: inline-block;
	transform-style: preserve-3d;
	padding: 0;
	text-align: center;
	background-position: center;
}
pave-3d, tiso-3d, trec-3d, hexa-3d, octo-3d {
	--depth: 4cm;
	--bord: solid 4px var(--bord-color);
}
pave-3d >*, tiso-3d >*, trec-3d >*, hexa-3d >*, octo-3d >*,
tub-q3d >*, tube-3d >*, cwn-q3d >*, hbol-3d >*, bole-3d >*, boul-3d >*, cyld-3d >*, caps-3d >* {
	border: var(--bord);
	background: var(--fond);
	width: inherit;
	height: inherit;
	margin: 0;
	color: inherit;
	position: absolute;
	top: 0%;
	left: 0%;
	text-align: center;
	background-position: center;
	background-size: contain;
	transform-origin: center center;
}
pave-3d.pole, pave-3d.cube, octo-3d { width: var(--depth); }
pave-3d.cube { height: var(--depth); }
pave-3d >*:nth-child(1), pave-3d >*:nth-child(2),
hexa-3d >*:nth-child(1), hexa-3d >*:nth-child(2), octo-3d >*:nth-child(1), octo-3d >*:nth-child(2),
tiso-3d >*:nth-child(1), tiso-3d >*:nth-child(2), trec-3d >*:nth-child(1), trec-3d >*:nth-child(2){
	height: var(--depth);
	transform-origin: top center;
}
pave-3d >*:nth-child(1), tiso-3d >*:nth-child(1), trec-3d >*:nth-child(1), hexa-3d >*:nth-child(1), octo-3d >*:nth-child(1),
cyld-3d >*:nth-child(1) {
	transform: rotateX(-90deg) translateY(-50%);
	top: 100%;
}
pave-3d >*:nth-child(2), tiso-3d >*:nth-child(2), trec-3d >*:nth-child(2), hexa-3d >*:nth-child(2), octo-3d >*:nth-child(2),
cyld-3d >*:nth-child(2)
	{ transform: rotateX(90deg) translateY(-50%); }
pave-3d >*:nth-child(3), chfr-3d >*:nth-child(3), matl-3d >*:nth-child(3), tiso-3d >*:nth-child(3), trec-3d >*:nth-child(3),
hexa-3d >*:nth-child(3), octo-3d >*:nth-child(3)
	{ transform: rotateY(180deg) translateZ(calc(var(--depth) /2)); }
pave-3d.vertical >*:nth-child(3), chfr-3d.vertical >*:nth-child(3), matl-3d.vertical >*:nth-child(3),
tiso-3d.vertical >*:nth-child(3), trec-3d.vertical >*:nth-child(3), hexa-3d.vertical >*:nth-child(3),
octo-3d.vertical >*:nth-child(3) { transform: rotateX(180deg) translateZ(calc(var(--depth) /2)); }
pave-3d >*:nth-child(6), octo-3d >*:nth-child(7){ transform: translateZ(calc(var(--depth) /2)); }

pave-3d >*:nth-child(4), pave-3d >*:nth-child(5){
	width: var(--depth);
	transform-origin: center left;
}
pave-3d >*:nth-child(4){ transform: rotateY(-90deg) translateX(-50%); }
pave-3d >*:nth-child(5){
	transform: rotateY(90deg) translateX(-50%);
	left: 100%;
}
tiso-3d, hexa-3d { width: calc(var(--depth) / 0.8660254037844386); }
tiso-3d >*:nth-child(1), trec-3d >*:nth-child(1) { clip-path: polygon(0 100%, 100% 100%, 50% 0); }
tiso-3d >*:nth-child(2), trec-3d >*:nth-child(2) { clip-path: polygon(0 0, 100% 0, 50% 100%); }
tiso-3d >*:nth-child(4), tiso-3d >*:nth-child(5){ transform-origin: center right; }
tiso-3d >*:nth-child(4){ transform: rotateY(-60deg) translateX(12.5%) translateZ(calc(0.75 * var(--depth))); }
tiso-3d >*:nth-child(5){ transform: rotateY(60deg) translateX(37.5%) translateZ(calc(-0.25 * var(--depth))); }
trec-3d { width: calc(2* var(--depth)); }
trec-3d >*:nth-child(4), trec-3d >*:nth-child(5){
	width: 70.71067811865475%;
	left: 14.644660940672622%;
}
trec-3d >*:nth-child(4){ transform: rotateY(-45deg) translateZ(calc(var(--depth) * 0.3535533905932738)) translateX(-25%); }
trec-3d >*:nth-child(5){ transform: rotateY(45deg) translateZ(calc(var(--depth) * 0.3535533905932738)) translateX(25%); }

hexa-3d >*:nth-child(1), hexa-3d >*:nth-child(2){ clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%); }
hexa-3d >*:nth-child(n+3) {
	width: 50%;
	left: 25%;
}
hexa-3d >*:nth-child(4){ transform: rotateY(240deg) translateZ(calc(var(--depth) /2)); }
hexa-3d >*:nth-child(5){ transform: rotateY(300deg) translateZ(calc(var(--depth) /2)); }
hexa-3d >*:nth-child(6){ transform: translateZ(calc(var(--depth) /2)); }
hexa-3d >*:nth-child(7){ transform: rotateY(60deg) translateZ(calc(var(--depth) /2)); }
hexa-3d >*:nth-child(8){ transform: rotateY(120deg) translateZ(calc(var(--depth) /2)); }
octo-3d >*:nth-child(1), octo-3d >*:nth-child(2){
	clip-path: polygon(29.28935% 0, 70.71065% 0, 100% 29.28935%, 100% 70.71065%, 70.71065% 100%, 29.28935% 100%, 0 70.71065%, 0 29.28935%);
}
octo-3d >*:nth-child(n+3){
	width: 41.4213%;
	left: calc(var(--depth) /2 - 20.71065%);
}
octo-3d >*:nth-child(4){ transform: rotateY(225deg) translateZ(calc(var(--depth) /2)); }
octo-3d >*:nth-child(5){ transform: rotateY(270deg) translateZ(calc(var(--depth) /2)); }
octo-3d >*:nth-child(6){ transform: rotateY(315deg) translateZ(calc(var(--depth) /2)); }
octo-3d >*:nth-child(8){ transform: rotateY(45deg) translateZ(calc(var(--depth) /2)); }
octo-3d >*:nth-child(9){ transform: rotateY(90deg) translateZ(calc(var(--depth) /2)); }
octo-3d >*:nth-child(10){ transform: rotateY(135deg) translateZ(calc(var(--depth) /2)); }

/* exemple */
#mon-conteneur {
	perspective: 800px;
	perspective-origin: 10% 100px;
}
#mon-pave {
	--depth: 9cm;
	width: 12cm;
	height: 4cm;
	--bord: solid 4px var(--bord-color);
	--fond: #F084;
	color: var(--text-color);
	animation: spin-x 10s infinite linear;
}
#mon-hexagone {
	--depth: 9cm;
	height: 4cm;
	--bord: solid 4px var(--bord-color);
	--fond: #F084;
	color: var(--text-color);
	animation: spin-x 10s infinite linear;
}
/*
<trec-3d><p>bottom</p><p>top</p><p>back</p><p>left</p><p>right</p></trec-3d>
<pave-3d class='cube'><p>bottom</p><p>top</p><p>back</p><p>left</p><p>right</p><p>front</p></pave-3d>
<hexa-3d><p>bottom</p><p>top</p><p>back</p><p>back left</p><p>front left</p><p>front</p><p>front right</p><p>back right</p></hexa-3d>
<octo-3d><p>bottom</p><p>top</p><p>back</p><p>back left</p><p>left</p><p>front left</p><p>front</p><p>front right</p><p>right</p><p>back right</p></octo-3d>
*/