/* représenter une piece avec une structure rectangulaire
deux types de pièces
- fond médian: le fond n'a pas été modifié en 3d. il est à l'emplacement z=0. classe fmed
- fond reculé: le fond a été reculé selon l'axe des z. c'est l'option par défaut
*/
/* la structure */
body {
	perspective: 100em;
	perspective-origin: 50% 0em;
}
@keyframes spin-room-horizontal {
	from { transform: rotateY(45deg); }
	to { transform: rotateY(-45deg); }
}
@keyframes spin-room-vertical {
	from { transform: rotateX(45deg); }
	to { transform: rotateX(-45deg); }
}
@keyframes spin-room-transversal {
	from { transform: rotateZ(45deg); }
	to { transform: rotateZ(-45deg); }
}
piece {
	/* à modifier */
	--width: 40em;
	--height: 25em;
	--depth: 30em;
	--fond: orange;
	color: var(--text-color);
	--plancher: rosybrown;
	--plafond: white;
	--mur: salmon;
	/* ------------ */
	width: var(--width);
	height: var(--height);
	display: block;
	padding: 0;
	margin: auto;
	text-align: center;
	transform-style: preserve-3d;
	background-position: center;
	background: none;
	border: none;
	animation-direction: alternate;
	animation-duration: 8s;
	animation-iteration-count: infinite;
}
piece >* { color: inherit; }
piece >*:nth-child(-n+5) {
	border-style: none;
	width: inherit;
	height: inherit;
	margin: 0;
	color: inherit;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	background-position: center;
	background-size: contain;
	transform-origin: center center;
}
piece >*:nth-child(1) {
	transform: translateZ(calc(-0.5* var(--depth)));
	background: var(--mur);
}
piece >*:nth-child(2), piece >*:nth-child(3) { height: var(--depth); }
piece >*:nth-child(4), piece >*:nth-child(5) {
	width: var(--depth);
	background: var(--mur);
}
piece >*:nth-child(2) {
	transform: rotateX(90deg) translateZ(calc(0.5* var(--depth) - var(--height)));
	background: var(--plancher);
}
piece >*:nth-child(3) {
	transform: rotateX(-90deg) translateZ(calc(-0.5* var(--depth)));
	background: var(--plafond);
}
piece >*:nth-child(4) { transform: rotateY(90deg) translateZ(calc(-0.5* var(--depth))); }
piece >*:nth-child(5) { transform: rotateY(-90deg) translateZ(calc(0.5* var(--depth) - var(--width))); }

piece.fmed >*:nth-child(1) { transform: none; }
piece.fmed >*:nth-child(2) { transform: rotateX(90deg) translateY(50%) translateZ(calc(0.5* var(--depth) - var(--height))); }
piece.fmed >*:nth-child(3) { transform: rotateX(-90deg) translateY(-50%) translateZ(calc(-0.5* var(--depth))); }
piece.fmed >*:nth-child(4) { transform: rotateY(90deg) translateX(-50%) translateZ(calc(-0.5* var(--depth))); }
piece.fmed >*:nth-child(5) { transform: rotateY(-90deg) translateX(50%) translateZ(calc(0.5* var(--depth) - var(--width))); }

/* les détails */
piece >*:nth-child(1), piece >*:nth-child(4), piece >*:nth-child(5) {
	border-bottom-style: solid;
	border-bottom-width: 1em;
}
/* les fenêtres */
fenetre, piece >*:nth-child(4).fenetre:before, piece >*:nth-child(5).fenetre:before {
	/* à modifier */
	--frame-width: 0.4em;
	--frame-color: rosybrown;
	width: 40%;
	height: 10em;
	background-color: #0CF;
	/* ------------ */
	position: absolute;
	top: calc(2em - var(--frame-width));
	left: calc(30% - var(--frame-width));
	margin: 0;
	box-sizing: content-box;
	display: inline-block;
	border-style: solid;
	border-width: var(--frame-width);
	border-color: var(--frame-color);
}
piece >*:nth-child(4).fenetre, piece >*:nth-child(5).fenetre {
	clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 70% 100%, 70% 2em, 30% 2em, 30% 12em, 70% 12em, 70% 100%);
}
piece >*:nth-child(4).fenetre:before, piece >*:nth-child(5).fenetre:before {
	content: "";
	background-color: var(--frame-color);
}
fenetre { background-image:
	linear-gradient(90deg, transparent calc(50% - var(--frame-width) /2), var(--frame-color) calc(50% - var(--frame-width) /2) calc(50% + var(--frame-width) /2), transparent calc(50% + var(--frame-width) /2)),
	linear-gradient(transparent calc(50% - var(--frame-width) /2), var(--frame-color) calc(50% - var(--frame-width) /2) calc(50% + var(--frame-width) /2), transparent calc(50% + var(--frame-width) /2));
}
piece > fenetre {
	background-color: #0CF2;	/* à modifier */
	text-align: center;
	background-position: center;
	background-size: contain;
	transform-origin: center center;
	width: calc(var(--depth) * 0.4);
	--pos-z: calc((var(--depth) + var(--height)) * 0.4);
	transform: rotateY(-90deg) translateZ(calc(-1 * var(--pos-z)));
}
piece > fenetre.gauche { transform: rotateY(90deg) translateZ(calc(var(--pos-z) - var(--width))); }
piece > fenetre.view-ext { transform: rotateY(90deg) translateZ(var(--pos-z)); }
piece > fenetre.gauche.view-ext { transform: rotateY(-90deg) translateZ(calc(var(--width) - var(--pos-z))); }

/* les papiers peints */
piece.rayure >*:nth-child(1), piece.rayure >*:nth-child(4), piece.rayure >*:nth-child(5) {
	border-bottom-color: wheat;
	background-image: repeating-linear-gradient(90deg, transparent 25px, wheat 25px 30px, transparent 30px 55px);
}
piece.semi-losange >*:nth-child(1), piece.semi-losange >*:nth-child(4), piece.semi-losange >*:nth-child(5) {
	background-image:
		repeating-linear-gradient(135deg, skyblue 25px, transparent 25px 30px, skyblue 30px 55px),
		repeating-linear-gradient(45deg, skyblue 25px, transparent 25px 30px, skyblue 30px 55px);
}
piece.semi-point >*:nth-child(1), piece.semi-point >*:nth-child(4), piece.semi-point >*:nth-child(5) {
	border-bottom-color: wheat;
	background-image:
		radial-gradient(circle at 0.2em 0.2em, wheat 0.2em, transparent 0.2em),
		radial-gradient(circle at 1.2em 1.2em, wheat 0.2em, transparent 0.2em);
	background-size: 2em 2em;
	background-repeat: repeat;
}
piece.mesure {
	border-style: solid;
	border-width: 0.2em;
	border-color: var(--text-color);
}
piece.mesure >*:nth-child(-n+5){
	background-image:
		repeating-linear-gradient(90deg, transparent 0.9em, var(--text-color) 0.9em 1em, transparent 1em 1.9em),
		repeating-linear-gradient(90deg, transparent 4.8em, var(--text-color) 4.8em 5em, transparent 5em 9.8em),
		repeating-linear-gradient(transparent 0.9em, var(--text-color) 0.9em 1em, transparent 1em 1.9em),
		repeating-linear-gradient(skyblue 4.8em, var(--text-color) 4.8em 5em, wheat 5em 9.8em);
	border-style: solid;
	border-width: 0.2em;
	border-color: var(--text-color);
}

/* exemple
<piece class='fmed'>
	<div>fond</div>
	<div>sol</div>
	<div>toit</div>
	<div>gauche</div>
	<div>droit</div>
</piece>
*/