/* dessiner des formes 3D arrondies
les figures peuvent être créées par css seul
pave-3d.js créé automatiquement les faces
fonctionne avec pave-3d.css et pave-3d.js
*/
tub-q3d, tube-3d, cwn-q3d, hbol-3d, bole-3d, boul-3d {
	--radius: inherit;
	--fond: inherit;
	background: none;
	border: none;
}
bole-3d { --bord: inherit; }
tub-q3d, tube-3d { height: inherit; }
tub-q3d, cwn-q3d { width: var(--radius); }
tub-q3d >*, cwn-q3d >* {
	border: none;
	transform-style: preserve-3d;
	width: 13%;
	left: -6.5%;
}
tub-q3d >*:before, tub-q3d >*:after, cwn-q3d >*:before, cwn-q3d >*:after {
	content: "";
	width: 100%;
	height: 100%;
	border: inherit;
	background: inherit;
	display: block;
	position: absolute;
	top: 0;
	text-align: center;
	background-position: center;
	background-size: contain;
}
tub-q3d >*:before {
	transform-origin: center left;
	left: 100%;
	transform: rotateY(7.5deg);
}
tub-q3d >*:after {
	transform-origin: center right;
	left: -100%;
	transform: rotateY(-7.5deg);
}
tub-q3d >*:nth-child(1){ transform: rotateY(11.25deg) translateZ(var(--radius)); }
tub-q3d >*:nth-child(2){ transform: rotateY(33.75deg) translateZ(var(--radius)); }
tub-q3d >*:nth-child(3){ transform: rotateY(56.25deg) translateZ(var(--radius)); }
tub-q3d >*:nth-child(4){ transform: rotateY(78.75deg) translateZ(var(--radius)); }
tube-3d, hbol-3d, bole-3d, boul-3d { width: calc(2* var(--radius)); }
tube-3d >*:nth-child(1), hbol-3d >*:nth-child(1) { left: 50%; }
tube-3d >*:nth-child(2), hbol-3d >*:nth-child(2) {
	transform: rotateY(90deg) translateX(50%);
	left: 25%;
}
tube-3d >*:nth-child(3), hbol-3d >*:nth-child(3) { transform: rotateY(180deg); }
tube-3d >*:nth-child(4), hbol-3d >*:nth-child(4) {
	transform: rotateY(270deg) translateX(50%);
	left: 25%;
}
cwn-q3d, hbol-3d, bole-3d { height: var(--radius); }
cwn-q3d >* {
	height: 13%;
	top: unset;
	bottom: -6.5%;
}
cwn-q3d >*:before {
	transform-origin: top center;
	transform: rotateX(-7.5deg);
	top: 100%;
}
cwn-q3d >*:after {
	transform-origin: bottom center;
	transform: rotateX(7.5deg);
	top: -100%;
}
cwn-q3d >*:nth-child(1){ transform: rotateY(93.75deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(2){ transform: rotateY(101.25deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(3){ transform: rotateY(108.75deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(4){ transform: rotateY(116.25deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(5){ transform: rotateY(123.75deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(6){ transform: rotateY(131.25deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(7){ transform: rotateY(138.75deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(8){ transform: rotateY(146.25deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(9){ transform: rotateY(153.75deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(10){ transform: rotateY(161.25deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(11){ transform: rotateY(168.75deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(12){ transform: rotateY(176.25deg) rotateX(10.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(13){ transform: rotateY(93.75deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(14){ transform: rotateY(101.25deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(15){ transform: rotateY(108.75deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(16){ transform: rotateY(116.25deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(17){ transform: rotateY(123.75deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(18){ transform: rotateY(131.25deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(19){ transform: rotateY(138.75deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(20){ transform: rotateY(146.25deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(21){ transform: rotateY(153.75deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(22){ transform: rotateY(161.25deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(23){ transform: rotateY(168.75deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(24){ transform: rotateY(176.25deg) rotateX(33.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(25){ transform: rotateY(93.75deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(26){ transform: rotateY(101.25deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(27){ transform: rotateY(108.75deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(28){ transform: rotateY(116.25deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(29){ transform: rotateY(123.75deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(30){ transform: rotateY(131.25deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(31){ transform: rotateY(138.75deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(32){ transform: rotateY(146.25deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(33){ transform: rotateY(153.75deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(34){ transform: rotateY(161.25deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(35){ transform: rotateY(168.75deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(36){ transform: rotateY(176.25deg) rotateX(55.75deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(37){ transform: rotateY(93.75deg) rotateX(78.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(38){ transform: rotateY(101.25deg) rotateX(78.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(39){ transform: rotateY(108.75deg) rotateX(78.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(40){ transform: rotateY(116.25deg) rotateX(78.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(41){ transform: rotateY(123.75deg) rotateX(78.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(42){ transform: rotateY(131.25deg) rotateX(78.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(43){ transform: rotateY(138.75deg) rotateX(78.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(44){ transform: rotateY(146.25deg) rotateX(78.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(45){ transform: rotateY(153.75deg) rotateX(78.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(46){ transform: rotateY(161.25deg) rotateX(78.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(47){ transform: rotateY(168.75deg) rotateX(78.25deg) translateZ(var(--radius)); }
cwn-q3d >*:nth-child(48){ transform: rotateY(176.25deg) rotateX(78.25deg) translateZ(var(--radius)); }
bole-3d >*:nth-child(1), cyld-3d >*:nth-child(1), cyld-3d >*:nth-child(2) { border-radius: 50%; }
bole-3d >*:nth-child(1){
	height: calc(2* var(--radius));
	transform: rotateX(-90deg);
	background: var(--fond);
	border: var(--bord);
}
boul-3d { height: calc(2* var(--radius)); }
boul-3d >* { height: 50%; }
boul-3d >*:nth-child(2){
	transform: rotateX(180deg);
	top: 50%;
}