/* donner une forme aux balises
<p class='shape cloud'>
dépend de structure.css
*/
.shape {
	width: 3em;
	height: 3em;
	margin-left: 1em;
	z-index: 2;
	position: relative;
	background-color: var(--fond-color, #AAA);
	text-align: center;
}
.shape:before, .shape:after {
	content: "";
	position: absolute;
	z-index: -2;
	width: inherit;
	height: inherit;
	background-color: inherit;
	border-style: inherit;
	border-width: inherit;
	border-color: inherit;
}
.cloud {
	margin-left: 2em;
	margin-top: 1em;
	padding-top: 1em;
	border-radius: 100% 100% 0 0;
}
.cloud:before, .cloud:after {	bottom: 0;	border-radius: 100%;	}
.cloud:before {	width: 4em;	height: 75%;	left: -2em;	}
.cloud:after {	width: 3em;	height: 60%;	right: -1.5em;	}
.heart {	margin-top: 2em;	margin-bottom: 1em;	transform: rotate(45deg);	}
.heart:before, .heart:after {	border-radius: 50%;	}
.heart:before {	left: 0%;	top: -50%;	}
.heart:after {	left: -50%;	}
.moon {
	background-color: transparent;
	border-radius: 50%;	padding-top: 1em;
	box-shadow: -1em 0 0 0 var(--fond-color, #AAA);
}
.moon:before, .moon:after {	content: none;	}
.arrow-left {
	background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' height='20' width='20' style='border:solid 2px black'><polygon points='0,0 10,0 20,10 10,20 0,20 10,10'/></svg>");
	background-size: cover;
}/*
.arrow-left {
	background-image:
		linear-gradient(0deg, var(--fond-color) 10%, transparent 10%, transparent 90%, var(--fond-color) 90%),
		linear-gradient(135deg, var(--fond-color) 45%, transparent 45%),
		linear-gradient(45deg, var(--fond-color) 45%, var(--text-color) 45%, var(--text-color) 55%, transparent 55%),
		linear-gradient(135deg, transparent 45%, var(--text-color) 45%, var(--text-color) 55%, transparent 55%);
}*/
.arrow-right {
	background-image:
		linear-gradient(0deg, var(--fond-color) 10%, transparent 10%, transparent 90%, var(--fond-color) 90%),
		linear-gradient(135deg, transparent 55%, var(--fond-color) 55%),
		linear-gradient(45deg, transparent 45%, var(--text-color) 45%, var(--text-color) 55%, var(--fond-color) 55%),
		linear-gradient(135deg, transparent 45%, var(--text-color) 45%);
}