/* donner une forme aux balises
<p class='shape cloud'>
dépend de structure.css
*/
.shape {
	width: 3em;
	height: 3em;
	margin-left: 1em;
	z-index: 2;
	position: relative;
	background-color: var(--fond-color, #AAA);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
}
.shape:before, .shape:after {
	content: "";
	position: absolute;
	z-index: -2;
	width: inherit;
	height: inherit;
	background-color: inherit;
	border-style: inherit;
	border-width: inherit;
	border-color: inherit;
}
.cloud {
	margin-left: 2em;
	margin-top: 1em;
	padding-top: 1em;
	border-radius: 100% 100% 0 0;
}
.cloud:before, .cloud:after {	bottom: 0;	border-radius: 100%;	}
.cloud:before {	width: 4em;	height: 75%;	left: -2em;	}
.cloud:after {	width: 3em;	height: 60%;	right: -1.5em;	}
.heart {	margin-top: 2em;	margin-bottom: 1em;	transform: rotate(45deg);	}
.heart:before, .heart:after {	border-radius: 50%;	}
.heart:before {	left: 0%;	top: -50%;	}
.heart:after {	left: -50%;	}
.moon {
	background-color: transparent;
	border-radius: 50%;	padding-top: 1em;
	box-shadow: -1em 0 0 0 var(--fond-color, #AAA);
}
.moon:before, .moon:after {	content: none;	}
/* ------ */
.picto {
	width: 3em;
	height: 3em;
	text-align: center;
	background-color: var(--fond-color);
	border: dotted 2px red;
}
.arrow { clip-path: polygon(0% 50%, 50% 0%, 100% 0%, 50% 50%, 100% 100%, 50% 100%); }
.arrow.right { transform: scaleX(-1); }
.cross {
	background-image:
		linear-gradient(45deg, transparent 45%, var(--bord-color) 45%, var(--bord-color) 55%, transparent 55%),
		linear-gradient(135deg, transparent 45%, var(--bord-color) 45%, var(--bord-color) 55%, transparent 55%);
}